:root {
  --main-color: #6c63ff;
  --background-gradient: linear-gradient(359.3deg, rgb(196, 214, 252) 1%, rgba(187, 187, 187, 0) 70.9%);
  );
}

body {
  margin: 60px auto;
  max-width: 800px;
  
}

h1 {
  font-size: 96px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

.links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.links a {
  margin: 20px;
  padding: 20px 15px;
  border-radius: 4px;
  text-decoration: none;
}

.contact {
  background-color: var(--main-color);
  color: white;
}

.my-info {
  color: var(--main-color);
  border: var(--main-color) 1px solid;
}
