:root {
  --main-color: #6c63ff;
  --background-gradient: linear-gradient(
    359.3deg,
    rgb(196, 214, 252) 1%,
    rgba(187, 187, 187, 0) 70.9%
  );
  --shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
  max-width: 800px;
}

h1 {
  font-size: 96px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  background: var(--background-gradient);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.links a {
  margin: 20px;
  padding: 20px 15px;
  border-radius: 4px;
  text-decoration: none;
}

.contact {
  background-color: var(--main-color);
  color: white;
  box-shadow: var(--shadow);
}

.my-info {
  color: var(--main-color);
  border: var(--main-color) 1px solid;
}

.text-blocks {
  display: flex;
  margin: 30px 0;
}

.text-blocks p {
  margin: 10px;
}

.home-link {
  color: var(--main-color);
  text-align: center;
  display: block;
}

.mail {
  display: flex;
  justify-content: center;
  color: var(--main-color);
  font-size: 28px;
  text-decoration: none;
}
